body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 100px;
}

.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-image: url('./assets/SUMMITFLOW.png');
}

.hero-section {
  width: 100%;
  height: 80vh;
  background-image: url('./assets/meeting-back.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding: auto;
}

.hero-text img {
  max-width: 100%;
  height: auto;
}

.dropdown-menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-content {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 8px;
  padding: 10px;
}

.dropdown-content a {
  color: #64442F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.content-section {
  margin-top: 50px;
  width: 90%;
  height: 55vh;
  display: flex;
  justify-content: flex-start;
  background-image: url('./assets/meeting.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  position: relative;
  margin-bottom: 50px;
  border-radius: 10px;
}

.content-card {
  padding: 30px;
  width: 80%;
  max-width: 800px;
  text-align: center;
  position: relative;
  margin-left: 2%;
}

.content-card h2{
  color: #64442F;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.content-card p{
  color: #987d62;
  margin: 0;
  text-align: left;
  margin-top: 30px;
}

.content-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 241, 224) 0%, rgba(255, 255, 255, 0) 50%);
  border-radius: 8px;
}

.book-room-button {
  width: 230px;
  padding: 15px;
  background-color:#64442F;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  display: block;
  margin-left: 0;
}

.book-room-button a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}
