.analytics {
  width: 100%;
}

.analytics-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f5f5f5;
}

.analytics-screenshot1,
.analytics-screenshot2 {
  width: 100%;
  height: auto; 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.analytics-screenshot1 {
  background-image: url('../../../../public/assets/analytics1.png');
  min-height: 100vh; 
}

.analytics-screenshot2 {
  background-image: url('../../../../public/assets/analytics2.png');
  min-height: 100vh; 
}
